
/* CSS Document */

body{
background-color: #303030;
 z-index: -999;
 color: #CCCCCC;
 font-size:16px;
}


#bertuch{
float:left;
margin-left:60px;
width:200px;
height 350px;
}

img{
float: left;
margin:10px;
}


#info{
   float:left;
   margin-right: 125px;
   margin-left:25px;
   margin-bottom:25px
   width:300px;
   font-size: 16px;
}

.clearfix{
clear:both
}

form {
display: block;
}


h3{
font-size:1.4em;
text-align:center;
'Verdana', san-serif;
}

h4{
font-size:1.2em;
color: #FFCF79;
text-align: center;
font-family: 'Verdana', san-serif;
}



header{
	display:inline;
}

nav{
	display:inline;
	font-family: 'arial, san-serif;
	font-size:23px;
	float:right;
	margin-right:10px;
	}

nav ul li{
	clear:both;
	display:inline-block;
	padding:15px;
	margin:2px;

}

nav li a{
	color:#FFCCCC;
}
